.form__button-submit {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  margin-top: 48px;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  background: #000;
  border: 0;
  border-radius: 2px;
  color: #fff;

  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  transition: all .3s ease-in;
}

.form__button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767.5px) {
  .form__button-submit {
    max-width: 238px;
    max-height: 46px;
    margin: 0 22px 25px 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
