.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  column-gap: 30px;
}

@media screen and (max-width: 767.5px) {
  .profile {
    flex-direction: column;
  }
}
