.profile__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767.5px) {
  .profile__wrapper {
    position: relative;
  }
}

@media screen and (max-width: 400px) {
  .profile__wrapper {
    max-width: 100%;
  }
}
